<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link rel="stylesheet" type="text/css"
        href="/Users/huangwilson/Documents/Programming/UB/CSE312/OneBeltOneRoad/static/bootstrap.min.css">
    <style>
        .col-md-1 {
            border: 2px solid black;
            height: 80px;
        }

        .col-md-2 {
            border: 2px solid black;
            height: 80px;
        }
    </style>

<body>
    <div class="container">
        <center>
            <h1>One Belt One World</h1>
        </center>
        </hr>
        <div class="row">
            <div class="col-md-2" style="background-color: #f87ae1;">
                <h1>
                    <blod>
                        <center>Start</center>
                    </blod>
                </h1>
            </div>

            <div class="col-md-1" style="background-color: #00bfff;"> 1</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 2</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 3</div>
            <div class="col-md-2" style="background-color: #ff00ff;"> 4</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 5</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 6</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 7</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 8</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 9</div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-11" style="background-color: #00bfff;"> 10</div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-1" style="background-color: #ff5900;"> 20</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 19</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 18</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 17</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 16</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 15</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 14</div>
            <div class="col-md-2" style="background-color: #ff00ff;"> 13</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 12</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 11</div>
        </div>
        <div class="row">
            <div class="col-md-2" style="background-color: #ff00ff;"> 21</div>
        </div>
        <div class="row">
            <div class="col-md-1  offset-md-1" style="background-color: #00bfff;"> 22</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 23</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 24</div>
            <div class="col-md-2" style="background-color: #ff00ff;"> 25</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 26</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 27</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 28</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 29</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 30</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 31</div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-11" style="background-color: #ff5900;"> 32</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="background-color: #ff5900;"> 42</div>
            <div class="col-md-2" style="background-color: #ff00ff;"> 41</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 40</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 39</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 38</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 37</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 36</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 35</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 34</div>
            <div class="col-md-2" style="background-color: #ff00ff;"> 33</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="background-color: #00bfff;"> 43</div>
        </div>
        <div class="row">
            <div class="col-md-1" style="background-color: #ff5900;"> 44</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 45</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 46</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 47</div>
            <div class="col-md-2" style="background-color: #ff00ff;"> 48</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 49</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 50</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 51</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 52</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 53</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 54</div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-11" style="background-color: #ff5900;"> 55</div>
        </div>
        <div class="row">
            <div class="col-md-2" style="background-color: #f87ae1;">
                <h1>
                    <blod>
                        <center>End</center>
                    </blod>
                </h1>
            </div>
            <div class="col-md-1" style="background-color: #ff5900;"> 64</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 63</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 62</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 61</div>
            <div class="col-md-2" style="background-color: #ff00ff;"> 60</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 59</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 58</div>
            <div class="col-md-1" style="background-color: #ff5900;"> 57</div>
            <div class="col-md-1" style="background-color: #00bfff;"> 56</div>
        </div>
    </div>
</body>

</html>